@import url("https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Dosis&display=swap");
@import url("https://www.purdue.edu/purdue/fonts/united-sans/united-sans.css");
@import url("https://fonts.cdnfonts.com/css/acumin-pro");

:root {
	font-family: "Dosis", sans-serif;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	/*font-family: "ADLaM Display", cursive; */
	font-family: "Acumin Pro", sans-serif;
}

#app {
	height: 100vh;
}
