@import url("https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Dosis&display=swap");
@import url("https://www.purdue.edu/purdue/fonts/united-sans/united-sans.css");
@import url("https://use.typekit.net/owl8tlx.css");

:root {
	font-family: "Acumin Pro", sans-serif;
	background-color: #000000;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: "acumin-pro-condensed", sans-serif;
	font-weight: 400;
	font-style: normal;
}


#app {
	height: 100vh;
}
