@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Dosis&display=swap');
@import url("https://www.purdue.edu/purdue/fonts/united-sans/united-sans.css");

:root {
	font-family: 'Dosis', sans-serif;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

h1 {
	font-family: 'ADLaM Display', cursive;
}

#app {
	height: 100dvh;
}
